src/Fatec.Test/Service References/FatecApi/FatecApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.fatecpg.com.br/" elementFormDefault="qualified" targetNamespace="http://api.fatecpg.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2428/FatecApi.svc?xsd=xsd2" namespace="http://api.fatecpg.com.br/types/" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://api.fatecpg.com.br/types/" minOccurs="0" name="request" nillable="true" type="q1:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://api.fatecpg.com.br/types/" minOccurs="0" name="LoginResult" nillable="true" type="q2:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>